.content{
 margin: 0% 15% 0% 15%;
 width: 100%;
}

.bg{
    background-color: #c7ded4;
	background-size: 100% 100%;
	height: 100vh;
}

.presentation{
    height: 35%;
    width: 100%;
}

.box{
    height: 70%;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.skills{
    display: flex;
    height: 55%;
    align-items: center;
    margin-top: 5%;
}

.presentation{
   /*  display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40% 60%; */
    margin-top: 2%;
}

.progress-bar{
    transition: 3s;
    animation: 3s linear 1s;
    animation-fill-mode: forwards;
    width: 0%;
}

.leftPresentation{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.leftPresentation img{
    max-width: 20%;
    border-radius: 50%;
    height: auto;
    margin: 3% 3% 0 10%;
}

.rightPresentation{
    display: flex;
    align-items: center;
    justify-content: center;
  /*   grid-column: 2 / 3; */
}

.rightPresentation p{
    font-style: italic;
    font-size: large;
    margin: 0;
}

q{
    font-style: italic;
    align-self: center;
}

@media (max-width: 1024px){
    .leftPresentation img{
        max-width: 30%;
    }
}

@media (max-width: 768px){
    .leftPresentation img{
        max-width: 50%;
    }
    .content{
        margin-bottom: 3%;
    }
}

@media (max-width: 425px){
    .rightPresentation{
        text-align: center;
        margin: 3%;
    }
    .rightPresentation p{
        font-size: 1em;
    }
    .content{
        margin-bottom: 3%;
    }
}