.bg {
    width: 100vw;
    height: 100vh;
    background: url(../img/cloud.jpg);
    background-size: cover;
    background-position: center, center;
    overflow: hidden;
    transition: 1s;
}

.darkBg{
    width: 100vw;
    height: 100vh;
    background: url(../img/night.jpg);
    background-size: cover;
    background-position: center, center;
    overflow: hidden;
    transition: 1s;
}

.content {
    height: 90%;
}

#mail {
    opacity: 0;
    transition: 1s;
}

.presentation {
    height: 100%;
}

.presentation a {
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.presentation span {
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.presentation p {
    display: flex;
    justify-content: center;
}

.presentation {
    margin-top: 5%;
    height: 100%;
    width: 100%;
}

.presentation p {
    margin: 0 10%;
}

.contactInfo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#phoneInfo {
    opacity: 0;
    transition: 1s;
}

.contact {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contact ul {
    width: 100%;
    list-style: none;
    display: inline-flex;
    align-self: center;
    justify-content: center;
}

.contact ul li {
    justify-content: space-around;
    display: flex;
    margin: 0 5%;
    padding: 0 3%;
    color: blue;
    cursor: pointer;
}

.reach {
    font-family: "Cinzel", serif;
    display: flex;
    justify-content: center;
    margin: 10%;
}

@media (max-width: 768px) {
    .presentation {
        margin-top: 10%;
    }
    .preview {
        margin-top: 10%;
    }
    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 425px) {
    .pic {
        max-width: 90%;
    }
    .preview {
        margin-top: 15%;
    }
}
