.bg {
    background-image: url("../img/collage.png");
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.intro {
    justify-content: center;
    display: flex;
    height: 75%;
    align-items: center;
    margin: 22% 10%;
}

.content {
    height: 90%;
    width: 100%;
}

.presentation {
    height: 100%;
    width: 100%;
}

.presentation a {
    display: flex;
    justify-content: center;
}

.presentation p {
    display: flex;
    justify-content: center;
}

.presentation {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

h2 {
    font-size: 2rem;
    border-radius: 22px;
    padding: 1%;
    color: white;
    text-shadow: 2px 2px #000000;
    font-family: auto;
    font-family: 'Quicksand', sans-serif;
}

.first {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
}

.first ul {
    list-style: none;
    display: inline-flex;
    align-items: flex-end;
}

ul {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.second {
    display: grid;
    grid-column: 1/4;
    grid-row: 2/3;
}

.second ul {
    list-style: none;
    display: inline-flex;
    align-items: flex-start;
}
.preview {
    text-align: center;
}

.sneak {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
    .presentation {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 425px) {
    .presentation {
        display: none;
    }
}
