.content {
    margin: 0% 15% 0% 15%;
    width: 100%;
    height: 90%;
}

.bg {
    width: 100vw;
    height: 100vh;
    background: url(../img/light.jpg);
    background-size: cover;
    background-position: center, center;
    overflow: hidden;
    transition: 1s;
}

.darkBg{
    width: 100vw;
    height: 100vh;
    background: url(../img/dark.png);
    background-size: cover;
    background-position: center, center;
    overflow: hidden;
    transition: 1s;
}

.box {
    height: 70%;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.presentation {
    margin-top: 15%;
    height: 80%;
    width: 100%;
    display: flex;
    grid-template-rows: repeat(3, 1fr);
    font-family: "Cinzel", serif;
    justify-content: center;
    align-items: center;
}

#title {
    transition: 1s;
    user-select: none;
    cursor: none;
    text-align: center;
}

@media (max-width: 768px) {
    .presentation {
        margin-top: 20%;
    }
    h1 {
        font-size: xx-large;
    }
    .overlay {
        display: flex;
        margin: 0 10%;
    }
}

@media (max-width: 425px) {
    .presentation {
        margin-top: 45%;
    }
}

@media (max-width: 320px) {
    #title {
        margin-left: 10%;
    }
}
