*{
    margin: 0;
    padding: 0;;
}

html, body{
    height: 100%;
}

.menu{
    background-color: #ffffff57;
    width: 100%;
    height: 10%;
    display: flex;
    position: relative;
}


.logo{
    float: left;
    width: auto;
    color: black;
    margin-left: 5%;
    margin-top: 2%;
    cursor: none;
}

.sidebar{
    width: 0%;
    float: left;
    position: fixed;
    height: 100%;
    text-align: center;
    background-color: #b6aeff;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;
    display: grid;
    grid-template-rows: repeat(6,1fr);
}

.sidebar ul{
    grid-row: 2 / 7;
}

.sidebar ul li{
    border-top: 1px solid rgb(155, 147, 234);
    grid-row: 1/12;
}

.sidebar ul li a{
    text-decoration: none;
    display: block;
    padding: 21% 4% 20% 4%;
    font-weight: bold;
    color: #000b5a;
}

.sidebar ul li a .fa{
    width: 20%;
}


.sidebar ul li :hover{
    background-color: #6049C5;
    cursor: pointer;
}

.slide{
    background: none;
    border: none;
    cursor: pointer;
    outline:none;
    font-size: 125%;
}

.slide:focus{
    outline: none;
}

#slide{
    background-color: transparent;
    padding: 20% 20%;
    margin: 15% 80%;
}

@media (max-width:768px){
    .presentation{grid-template-columns: 1fr;}
    h1{font-size: xx-large;}
    .overlay{display: flex; margin-left: 10%;}
}

@media(max-width:425){
    .sidebar{width: 20% !important;}
}

@media(max-width:375px){
    .sidebar{width: 23% !important;}
}