.bg{
    background-color: #d8ecee;
	background-size: 100% 100%;
	height: 100vh;
}

.content{
    margin-top: 5%;
    height: 90%;
}

.presentation{
    height: 100%;
}

.presentation a{
    display: flex;
    justify-content: center;
    margin: 2% 40%;
}

.presentation p{
    display: flex;
    justify-content: center;
}

.presentation{
    height: 100%;
    width: 100%;
}

.presentation p{
    margin: 0 10%;
}

.preview{
    text-align: center;
}

.sneak{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sneak1{
    display: grid;
    grid-column: 1 / 2;
    margin-top: 5%;
}

.sneak1 div{
    display: flex;
    justify-content: center;
}

.sneak1 img{
    cursor: pointer;
}

.sneak2{
    display: grid;
    grid-column: 2 / 3;
    margin-top: 5%;
}

.sneak2 div{
    display: flex;
    justify-content: center;
}

.sneak2 img{
    cursor: pointer;
}
.pic{
    max-width: 50%;
}
@media (max-width:768px){
    .presentation{grid-template-columns: 1fr;}
    .preview{margin-top: 10%;}
}

@media (max-width:425px){
    .pic{max-width: 90%;}
    .preview{margin-top: 15%}
}
