<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cavataio</title>
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="icon" type="image/x-icon" href="../img/person.png" />
</head>

<body class="bg" onload="loadSkills()">
    <div class="contain">
        <div class="menu">
            <header>
                <div class="logo">
                    <button onclick="toggleNav()" id="slide" class="slide">☰</button>
                </div>
            </header>
            <aside class="sidebar" id="sidebar">
                <button onclick="toggleNav()" class="slide insideSlide">☰</button>
                <ul class="options">
                    <li> <a href="../index.html"><i class="fa fa-home"></i><strong>Home</strong> </a></li>
                    <li> <a href="about.html"><i class="fa fa-code-fork"></i>About me & Skills</a></li>
                    <li> <a href="works.html"><i class="fa fa-cubes"></i>Works</a></li>
                    <li> <a href="hobbies.html"><i class="fa fa-bolt"></i>Hobbies</a></li>
                    <li> <a href="contact.html"><i class="fa fa-pencil fa-fw"></i>Contact</a></li>
                </ul>
            </aside>

        </div>

        <div>
            <section class="presentation row">
                <div class="leftPresentation col-md-6 col-sm-12">
                    <img src="../img/personal.jpg" alt="">
                    <q>Hard Work, Dedication</q>
                </div>
                <div class="rightPresentation col-md-6 col-sm-12">
                    <p>
                        Hello there! I'm Tomas Cavataio.
                        I am a junior Software Developer, more specifically a Full Stack Developer.
                        I have always been a geek and a tech enthusiast, I admire people like Elon Musk, whom are making
                        history and guiding the human race into an awesome place.
                        I like to think I contribute as little or as big as I can, by improving my coding skills, learning
                        new technologies and also improving as a human being! That's important!
                    </p>
                </div>
            </section>
        </div>
        <div class="skills col-md-12">
            <section class="content">
                <div>
                    Front End
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" id="frontend" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div>
                    Back End
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" id="backend" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div>
                    Coding
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" id="coding" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div>
                    Communication
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" id="communication" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div>
                    Teamwork
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" id="teamwork" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div>
                    Problem Solving and Creativity
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" id="solving" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </section>
        </div>

    </div>
    <script src="../source.js"></script>
</body>

</html>