<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cavataio</title>
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/about.css">
    <script src="../source.js"></script>
</head>

<body class="bg">
    <div class="contain">
        <div class="menu">
            <header>
                <div class="logo">
                    <button onclick="slide()" id="slide" class="slide">☰</button>
                </div>
            </header>
            <aside class="sidebar" id="sidebar">
                <button onclick="slide()" class="slide">☰</button>
                <ul class="options">
                    <li> <a href="../index.html"><i class="fa fa-home"></i><strong>Home</strong> </a></li>
                    <li> <a href="about.html"><i class="fa fa-code-fork"></i>Skills</a></li>
                    <li> <a href="works.html"><i class="fa fa-cubes"></i>Works</a></li>
                    <li> <a href="hobbies.html"><i class="fa fa-bolt"></i>Hobbies</a></li>
                    <li> <a href="contact.html"><i class="fa fa-pencil fa-fw"></i>Contact</a></li>
                </ul>
            </aside>

        </div>

        <div>
            <section class="presentation">
                <div class="leftPresentation">
                    <img src="../img/personal.png" alt="">
                    <q>Hard Work, Dedication</q>
                </div>
                <div class="rightPresentation">
                    <p>
                        Hello there! I'm Tomas Cavataio.
                        I am a junior Software Developer, more specifically a Full Stack Developer.
                        I have always been a geek and a tech enthusiast, I admire people like Elon Musk, whom are making
                        history and guiding the human race into an awesome place.
                        I like to think I contribute as little or as big as I can improving my coding skills, learning
                        new technologies and also improving as a human being! That's important!
                    </p>
                </div>
            </section>
        </div>
        <div class="skills">
            <section class="content">
                <div>
                    Front End
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div>
                    Back End
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div>
                    Coding
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div>
                    Communication
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div>
                    Teamwork
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div>
                    Problem Solving and Creativity
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </section>
        </div>
        
    </div>
</body>

</html>