<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cavataio</title>
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/contact.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <script src="../source.js"></script>
</head>

<body class="bg">
    <div class="contain">
        <div class="menu">
            <header>
                <div class="logo">
                    <button onclick="slide()" id="slide" class="slide">☰</button>
                </div>
            </header>
            <aside class="sidebar" id="sidebar">
                <button onclick="slide()" class="slide">☰</button>
                <ul class="options">
                    <li> <a href="../index.html"><i class="fa fa-home"></i><strong>Home</strong> </a></li>
                    <li> <a href="about.html"><i class="fa fa-code-fork"></i>Skills</a></li>
                    <li> <a href="works.html"><i class="fa fa-cubes"></i>Works</a></li>
                    <li> <a href="hobbies.html"><i class="fa fa-bolt"></i>Hobbies</a></li>
                    <li> <a href="contact.html"><i class="fa fa-pencil fa-fw"></i>Contact</a></li>
                </ul>
            </aside>

        </div>
        <div class="presentation">
            <div class="contact">
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/in/tomas-cavataio-1058a618b/" target="_blank"
                            rel="noopener noreferrer"> <span class="fa fa-linkedin"></span></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/tomascavataio/?hl=en" target="blank"><span
                                class="fa fa-instagram"></span></a>
                    </li>
                    <li>
                        <span class="fa fa-google"></span>
                    </li>
                    <li>
                        <span class="fa fa-whatsapp"></span>
                    </li>
                </ul>
            </div>
            <div class="reach">
                <h1>Reach up to me and let's start working together!</h1>
            </div>
        </div>


    </div>
</body>

</html>