<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cavataio</title>
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/hobbies.css">
    <link rel="icon" type="image/x-icon" href="../img/person.png" />
</head>

<body class="bg">
    <div class="contain">
        <div class="menu">
            <header>
                <div class="logo">
                    <button onclick="toggleNav()" id="slide" class="slide">☰</button>
                </div>
            </header>
            <aside class="sidebar" id="sidebar">
                <button onclick="toggleNav()" class="slide insideSlide">☰</button>
                <ul class="options">
                    <li> <a href="../index.html"><i class="fa fa-home"></i><strong>Home</strong> </a></li>
                    <li> <a href="about.html"><i class="fa fa-code-fork"></i>About me & Skills</a></li>
                    <li> <a href="works.html"><i class="fa fa-cubes"></i>Works</a></li>
                    <li> <a href="hobbies.html"><i class="fa fa-bolt"></i>Hobbies</a></li>
                    <li> <a href="contact.html"><i class="fa fa-pencil fa-fw"></i>Contact</a></li>
                </ul>
            </aside>

        </div>

        <div class="content">
            <div class="intro">
                <h2>I love to do new things and embrace the adventure! Some of my hobbies include boxing, flying
                    airplanes,
                    travelling... And more stuff you'll get to know if you reach up to me!
                </h2>
            </div>
           <!--  <section class="presentation">
                <div class="first">
                    <ul>
                        <li><img src="../img/boxing.png" alt=""></li>
                        <li><img src="../img/pilot.png" alt=""></li>
                        <li><img src="../img/boxing2.png" alt=""></li>
                    </ul>
                </div>
                <div class="second">
                    <ul>
                        <li><img src="../img/plane.png" alt=""></li>
                        <li><img src="../img/boxing3.png" alt=""></li>
                        <li><img src="../img/pilot3.png" alt=""></li>
                    </ul>
                </div>
            </section> -->
        </div>
    </div>
    <script src="../source.js"></script>
</body>

</html>