<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cavataio</title>
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/works.css">
</head>

<body class="bg">
    <div class="contain">
        <div class="menu">
            <header>
                <div class="logo">
                    <button onclick="toggleNav()" id="slide" class="slide">☰</button>
                </div>
            </header>
            <aside class="sidebar" id="sidebar">
                <button onclick="toggleNav()" class="slide">☰</button>
                <ul class="options">
                    <li> <a href="../index.html"><i class="fa fa-home"></i><strong>Home</strong> </a></li>
                    <li> <a href="about.html"><i class="fa fa-code-fork"></i>About me & Skills</a></li>
                    <li> <a href="works.html"><i class="fa fa-cubes"></i>Works</a></li>
                    <li> <a href="hobbies.html"><i class="fa fa-bolt"></i>Hobbies</a></li>
                    <li> <a href="contact.html"><i class="fa fa-pencil fa-fw"></i>Contact</a></li>
                </ul>
            </aside>

        </div>

        <div class="content">
            <section class="presentation">
                <a href="https://github.com/TomasCavataio/GeeksHubs" target="blank">
                    <img src="../img/github.png" alt="">
                </a>
                <p> Hey! Checkout my previous projects clicking on the github Octocat!!
                </p>
            </section>
            <div class="preview">
                <h3>Some sneak peek...</h3>
                <section class="sneak">
                    <div class="sneak1">
                        <div>
                            <img class="pic" src="../img/google.png" alt="">
                        </div>
                    </div>
                    <div class="sneak2">
                        <div>
                            <img class="pic" src="../img/elpais.png" alt="">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="../source.js"></script>
</body>

</html>